
$color-background: #ffffff;
$color-text: #333333;

/* $color-primary: #0077B5; */
$color-primary: #197cd3;
$color-secondary: #CE4A7E;
$color-tertiary: #A40000;

$color-shadow: #0000001a;
$color-fill: #fafafa;
$color-border: #d6d5d5;

$color-linkedin: #0077B5;
$color-twitter: #00acee;
$color-github: #239a3b;

$color-tag-html: #e34c26;
$color-tag-css: #264de4;
$color-tag-js: #f0db4f;
$color-tag-php: #777bb3;
$color-tag-react: #61dafb;
$color-tag-laravel: #ff2919;
$color-tag-mysql: #00758f;
