$color-background: #ffffff;
$color-text: #333333;

/* $color-primary: #0077B5; */
$color-primary: #197cd3;
$color-secondary: #ce4a7e;
$color-tertiary: #a40000;
$color-green: #12922c;
$color-yellow: #ebbc22;

$color-shadow: #0000001a;
$color-fill: #fafafa;
$color-border: #d6d5d5;

$color-linkedin: #0077b5;
$color-twitter: #00acee;
$color-github: #239a3b;

$color-tag-html: #e34c26;
$color-tag-css: #264de4;
$color-tag-js: #f0db4f;
$color-tag-php: #777bb3;
$color-tag-react: #61dafb;
$color-tag-laravel: #ff2919;
$color-tag-git: #ef391a;
$color-tag-mysql: #4479a1;
$color-tag-webpack: #8dd6f9;
$color-tag-sass: #bf4080;
$color-tag-sql: #4124f5;
