
%button {
  align-self: center;
  font-family: "Roboto", sans-serif;
  padding: 0.4rem 0.4rem;
  width: 55%;
  margin-bottom: 1rem;
  outline: none;
  border: 1px solid grey;
  border-radius: 5%;
  background-color: white;
}

%form-button {
  font-family: "Roboto", sans-serif;
    height: 2rem;
    width: 6rem;
    padding: 0;
    border-radius: 4%;
    margin-left: auto;
    display: block;
    background-color: #f0f0f0;

    &:hover,
    &:active {
    background-color: #fafafa;
    border: 1px solid #0074D9;
    color: #0074D9;
    font-weight: bold;
    }
}

.btn {
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border-width: 2px;
  border-style: solid;

  &--small {
  }

  &--normal {
    padding: 0.5em;
    font-size: 1em;
  }

  &--big {

  }

  &--primary {
    background-color: $color-primary;
    color: $color-background;
    border-color: $color-primary;

    &-inverted {
    background-color: $color-background;
    color: $color-primary;
    border-color: $color-background; 
    }
  }

  &--secondary {
    background-color:$color-secondary;
    color: $color-background;
    border-color: $color-secondary;

    &-inverted {
      background-color:$color-background;
      color: $color-secondary;
      border-color: $color-background;
    }
  }

  &--tertiary {
    background-color:$color-tertiary;
    color: $color-background;
    border-color: $color-tertiary;

    &-inverted {
      background-color:$color-background;
      color: $color-tertiary;
      border-color: $color-background;
    }
  }
}

