
@import "../helpers/colors";


footer > a:visited {
  color: $color-background;
}

a.linkedin:hover {
  color: $color-linkedin;
}

a.github:hover {
  color: $color-github;
}

a.twitter:hover {
  color: $color-twitter;
}