@import "../helpers/colors";

.fab:hover,
.fab:active {
  cursor: pointer;
  /* color: scale-color($color: $color-background, $lightness: -20%); */
  /* color: scale-color($color: $color-primary, $lightness: -10%); */
  background: linear-gradient(
    122deg,
    rgba(25, 124, 211, 1) 0%,
    rgba(206, 74, 126, 1) 52%
  );
  background-repeat: no-repeat;
  color: $color-fill;
  line-height: 0.8 !important;
}

.tag {
  &--rectangle {
    border-style: solid;
    border-width: 1px;
  }

  &--bottom {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 0.05em;
    margin-right: 0.3em;
  }

  &-html {
    border-color: $color-tag-html;
  }

  &-css {
    border-color: $color-tag-css;
  }

  &-js {
    border-color: $color-tag-js;
  }

  &-php {
    border-color: $color-tag-php;
  }

  &-react {
    border-color: $color-tag-react;
  }

  &-laravel {
    border-color: $color-tag-laravel;
  }

  &-mysql {
    border-color: $color-tag-mysql;
  }

  &-html {
    border-color: $color-tag-html;
  }
}
