@import "../helpers/colors";


.tag {
  &--rectangle {
    padding: 0.5rem 1rem;
    margin: 0.4rem 0.4rem;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-radius: 2px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.068); 
    flex-grow: 1;
    text-align: center;
  }

  &--bottom {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 0.05em;
    margin-right: 0.3em;
  }

  &-html {
    border-bottom-color: $color-tag-html;
  }

  &-css {
    border-bottom-color: $color-tag-css;
  }

  &-js {
    border-bottom-color: $color-tag-js;
  }

  &-php {
    border-bottom-color: $color-tag-php;
  }

  &-react {
    border-bottom-color: $color-tag-react;
  }

  &-laravel {
    border-bottom-color: $color-tag-laravel;
  }

  &-mysql {
    border-bottom-color: $color-tag-mysql;
  }

  &-git {
    border-bottom-color: $color-tag-git;
  }

  &-webpack {
    border-bottom-color: $color-tag-webpack;
  }

  &-sass {
    border-bottom-color: $color-tag-sass;
  }


  &-sql {
    border-bottom-color: $color-tag-sql;
  }
}
