.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__acquired, 
  &__learning {
    width: 88vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 1rem;
  }

  span {
    border-radius: 3px;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.3em 0.5em;
  }

}