@import "../helpers/colors";

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  font-size: 2rem;
  padding: 0 3rem;
  background-color: $color-text;
  color: $color-background;
}