.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /*  in order to scroll headline into view
        otherwise it will be scrolled to 
        top border of the section */
    padding-top: 1rem;
}