@import "../helpers/colors";

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-size: 2rem;
  padding: 0 3rem;
  background-color: $color-text;
  color: $color-background;

  .fab {
    margin: 1rem 1rem;
  }
  
  .fab:hover,
  .fab:active {
  cursor: pointer;
  /* color: scale-color($color: $color-background, $lightness: -20%); */
  /* color: scale-color($color: $color-primary, $lightness: -10%); */
  background: linear-gradient(
    122deg,
    rgba(25, 124, 211, 1) 0%,
    rgba(206, 74, 126, 1) 52%
  );
  background-repeat: no-repeat;
  color: $color-fill;
  line-height: 0.8 !important;
}
}
