@import "colors.scss";
@import "intro.scss";
@import "projects.scss"; 
@import "contact.scss";
@import "footer.scss";

@import "fontawesome.scss";
@import "regular.scss";
@import "solid.scss";
@import "brands.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
}

main {
    width: 100%;
}


